{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-3">
    {% for item in post_objects %}
    <div class="alert alert-success" role="alert">
        <p>タイトル：<a href="#">{{ item.title }}</a></p>
        <p>内容：{{ item.content }}</p>
        <p>投稿者：{{item.user.username}}
            {% if item.is_followed %}
                <div>
                    フォローしています
                    <form method="post" action="{% url 'unfollow' pk=item.user.pk %}">
                        {% csrf_token %}
                        <button>フォローを外す</button>
                    </form>
                </div>
            {% else %}
                <form method="post" action="{% url 'follow' pk=item.user.pk %}">
                    {% csrf_token %}
                    <button>フォローする</button>
                </form>
            {% endif %}
        </p>
        {% if item.is_liked %}
            <p>
                <form method="post" action="{% url 'like_delete' pk=item.pk %}">
                    {% csrf_token %}
                    <button type="submit"><i class="fas fa-heart text-danger" id="like-for-post-icon">いいね</i></button>
                </form>
            </p>
        {% else %}
            <p>
                <form method="post" action="{% url 'like_create' pk=item.pk %}">
                    {% csrf_token %}
                    <button type="submit"><i class="far fa-heart text-danger" id="like-for-post-icon"></i>いいね</button>
                </form>                
            </p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}